@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;800&display=swap");

html {
  font-size: 62.5%;
}
body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif !important;
}
:root {
  --headings: #3f3337;
  --text: #cdd8de;
  --shadow: #6c5a3e;
  --lining: #c4846c;
  --footer: #a39137;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  overflow: hidden;
  position: relative;
  color: var(--headings);
  text-align: right;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  background: url(header.jpg);
  height: 90vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.header h1 {
  font-size: 4rem;
  font-weight: 600;
}
.header p {
  font-size: 1.6rem;
}
.header .arrowdown {
  position: absolute;
  left: 45%;
  bottom: 20%;
  text-align: center;
  align-self: flex-end;
  color: var(--headings);
  font-size: 6rem;
  animation-name: down;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}
.header .textheader {
  padding-right: 4rem;
}
@keyframes down {
  from {
    bottom: 20%;
  }
  to {
    bottom: 15%;
  }
}

/* header ends */
nav {
  z-index: 500;
  background: rgba(255, 255, 255, 0.185);
  backdrop-filter: blur(10px);
  width: 100vw;
  position: fixed;
  height: 6vh;
  display: flex !important;
  justify-content: space-between;
  padding: 1rem 2rem;
  font-size: 2.4rem;
  top:0;
  align-items: center;
}
nav .logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav .logo i {
  animation-name: rotate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-direction: alternate-reverse;
  margin-right: 1rem;
}
nav .logo a {
  transition: color 0.3s ease-in-out;
  color: var(--headings);
  text-decoration: none;
}
nav .logo a:hover {
  text-decoration: none;
  color: #3f3337af;
}
.populartours {
  overflow: hidden;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.populartours .populartag {
  color: var(--headings);
  font-weight: 600;
  font-size: 3.6rem;
}
.populartours .mostpopular hr:nth-child(2) {
  width: 40%;
  height: 0.1px;
  background: var(--headings);
}
.populartours .mostpopular hr:nth-child(3) {
  width: 20%;
  height: 0.1px;
  background: var(--headings);
}
.populartours .mostpopular hr:nth-child(4) {
  width: 10%;
  height: 0.1px;
  background: var(--headings);
}
.populartours .mostpopular {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carousel-inner:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.322);
}
.carousel-caption {
  border-radius: 20px;
  background: #3f333770 !important;
}

.carousel-caption p {
  font-size: 2rem;
}
.carousel-caption span {
  font-weight: 600;
  font-size: 3rem;
  color: yellow;
}
.captionc {
  font-size: 3rem !important;
}
nav .links {
  margin-right: 2rem;
  display: inline;
}
nav .links a {
  color: var(--headings);
  text-decoration: none;
  padding-right: 3rem;
  transition: color 0.2s ease-in-out;
}
nav .links a:hover {
  color: #3f33376e;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cards .card {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.418);
  background: var(--headings);
  color: white;
  text-align: center;
  border-radius: 20px;
  margin: 1rem;
}
.cards .card img {
  border-radius: 20px;
}
.gobtn {
  padding: 0.4rem 2rem;
  border: 1px solid white;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.gobtn:hover {
  border-color: rgba(255, 255, 255, 0.438);
  text-decoration: none;
  color: rgba(255, 255, 255, 0.438);
}

.activities .images {
  margin: 2rem;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
}
.trailbox {
  margin: 4rem;
  width: 400px;
  flex-direction: column;
  display: flex;
  align-items: center;
}
.trailtag i {
  margin-left: 2rem;
}
.trailtag {
  transition: box-shadow 0.3s ease-in-out;
  border: none;
  outline: none;
  background: var(--headings);
  color: white;
  padding: 1rem;
  font-size: 1.8rem;
}
.trailbody {
  font-weight: 300;
  color: black;
  font-size: 1.6rem;
}
.card-body {
  background: var(--headings) !important;
  color: white;
}
.trailtag:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.39);
}
.trailboxes {
  justify-content: center;
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

footer {
  width: 100%;
  background-color: var(--headings);
  height: 100%;
  margin-top: auto;
  color: white;
}
footer h1 {
  font-size: 4rem;
}
footer col {
  margin: 2rem;
}
footer .box1,
footer .box2,
footer .box3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: white;
}
footer .contact,
footer .info {
  width: 100%;
  margin: 1rem;
}
footer hr {
  width: 100%;
  height: 0.1px;
  background: white;
}
footer .row {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 1rem;
  width: 100%;
}
.row .location {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  text-align: center;
}
.row .location i {
  padding-bottom: 1.2rem;
  font-size: 3rem;
  margin: 1rem 1rem 0rem 0rem;
}

footer a {
  text-decoration: none;
  text-align: left;
  margin-top: 1rem;
  font-size: 2rem;
  color: white;
  transition: color 0.3s ease-in-out;
}
footer a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.637);
}
footer .box3 h2 {
  color: rgba(255, 255, 255, 0.322);
}
footer h1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
@keyframes rotateabit {
  0% {
    transform: scale(1);
  }
  33.3% {
    transform: scale(1.01);
  }
  66.6% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.01);
  }
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--headings);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.images .wrapper h1 {
  text-align: center;
  margin: 1rem;
  font-size: 3rem;
}
.images .wrapper {
  margin: 1rem;
}
.images .wrapper img {
  margin: 2rem;
  transition: box-shadow 0.4s ease-in-out;
  border-radius: 20px;
  width: 360px;
  height: 360px;
}
.images .wrapper img:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.37);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(6deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-6deg);
  }
}

/* about page all designs */
.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50px;
  right: 48%;
  color: white;
  background: var(--headings);
  clip-path: circle(60px at center center);
  width: 100%;
  height: 100vh;
  transition: all 2s ease-in-out;
  cursor: pointer;
}
.changeskill{
    cursor: auto;
 padding-top: 10rem;
display: flex;
  justify-content: center;
  align-items: center;
  top: 50px;
  right: 48%;
  color: white;
  background: var(--headings);
  clip-path: circle(100% at center center);
  width: 100%;
  height: 100%;
  transition: all 2s ease-in-out;
}
.allcontent{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.allcontent h3{
    line-height: 1.8;
}
.allcontent .gallery{
    margin-top: 1rem;
}
.allcontent .gallery h1{
    text-align: center;
    font-size: 5rem;
}
.allcontent img{
    margin: 2rem;
    border-radius: 20px;
    width: 50%;
    
}
.allcontent .gallery .images{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.allcontent .gallery .images img{
    width: 240px;
}
@media screen and (max-width: 1440px) {
  html {
    font-size: 54% !important;
  }
  .header h1 {
    font-size: 8rem;
    font-weight: 600;
  }
  .header p {
    font-size: 2.4rem;
  }
}
@media screen and (max-width: 1024px) {
  .header h1 {
    font-size: 5rem;
    font-weight: 600;
  }
  .header p {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 425px) {
  .header .arrowdown {
    color: white;
  }
  .captionc {
    font-size: 2rem !important;
  }
  .carousel-caption p {
    font-size: 1rem;
  }
  .carousel-caption span {
    font-weight: 600;
    font-size: 1.4rem;
    color: yellow;
  }
  .header {
    height: 60vh;
    padding-top: 14rem;
    text-align: center;
    align-items: flex-start;
    background-position: left;
  }
  html {
    font-size: 36% !important;
  }
}
@media screen and (max-width: 2560px) {
  .textheader {
    padding: none;
  }
  html {
    font-size: 120%;
  }
}
@media screen and (max-width: 380px) {
  nav .links a {
    font-size: 2.4rem;
  }
  .header {
    height: 60vh;
    text-align: center;
    align-items: flex-start;
    background-position: left;
  }
  html {
    font-size: 35%;
  }
}
